:root {
  --color-primary: #007AF3;
  --color-secondary: #0061C2;
  --color-accent-light: #46E6FF;
  --color-accent-dark: #121B24;
  --color-gray: #7B7B7B;
  --color-white: #fff;
  --color-black: #000;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 0;
}

h1,h2,h3 {
  margin-bottom: 1rem;
  margin-top: 0;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.2rem;
}

p {
  margin-top: 0;
}

.white-text {
  color: var(--color-white);
}

.black-text {
  color: var(--color-black);
}

.gray-text {
  color: var(--color-gray);
}

@media screen and (min-width: 1024px) {

  body {
    font-size: 2rem;
  }
  h1 {
    font-size: 5.4rem;
  }
  
  h2 {
    font-size: 3.2rem;
  }
  
  h3 {
    font-size: 2.6rem;
  }
  
}

/* Links */

a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent-dark);
  font-size: 1.8rem;
  font-weight: bold;
}

.link-arrow::after {
  font-family: Inter, Arial, Helvetica, sans-serif;
  content: '-->';
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 2rem;
  }
}

/* Badges (not necessary but built in case */

.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background: var(--color-primary);
  color: var(--color-white);
}

.badge--secondary {
  background: var(--color-secondary);
  color: var(--color-white);
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 2.7rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }  
}